# Core
python-dotenv
pydantic-settings>=2.2.1

# LLM
openai

# Obserability
langsmith

# Windows corporate TLS interception (Zscaler, etc.)
truststore>=0.10.0; platform_system=="Windows"


# Data
pandas

# Optional (uncomment if needed)
# numpy>=2.0.0
# pyarrow>=16.0.0
